<html lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<table class="table">
    <thead>
    <tr>
        <th>Config</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><strong>Plugin</strong></td>
        <td>Mediapool: Playlist</td>
    </tr>
    <f:if condition="{pi_flexform_transformed.settings.detailPage}">
        <tr>
            <td><strong>Detail Page</strong></td>
            <td>{pi_flexform_transformed.settings.detailPage}</td>
        </tr>
    </f:if>
    <f:if condition="{pi_flexform_transformed.settings.listPage}">
        <tr>
            <td><strong>List Page</strong></td>
            <td>{pi_flexform_transformed.settings.listPage}</td>
        </tr>
    </f:if>
    </tbody>
</table>
</html>
