<div class="grid">
  <f:for each="{recentVideos}" key="categoryUid" as="recentVideo">
    <div class="col-6_sm-12">
      <f:link.action pageUid="{settings.detailPage}" controller="Playlist" action="listByCategory" arguments="{category: categoryUid}">
        <h3>{recentVideo.category.title}</h3>
      </f:link.action>
      <f:render partial="VideoPreview" arguments="{video: recentVideo.video, playlist: recentVideo.playlist, detailPage: settings.detailPage, additionalClass: 'hidden-sm'}" />
    </div>
  </f:for>
</div>
