<div class="recommended-videos">
  <div class="main-top-video-wrap">
    <f:render partial="TopVideo" arguments="{video: recommendedVideos.0, detailPage: detailPage}" />
  </div>
  <div class="side-top-video-wrap">
    <div class="side-top-video">
      <f:render partial="TopVideo" arguments="{video: recommendedVideos.1, detailPage: detailPage}" />
    </div>
    <div class="side-top-video">
      <f:render partial="TopVideo" arguments="{video: recommendedVideos.2, detailPage: detailPage}" />
    </div>
  </div>
</div>
